*, pre {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

*:focus {
	outline : none !important; 
}

body {
	width : 100vw;
	height : 100vh;
	overflow-y : auto;
	margin : 0;
}
ul, li, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}
pre {
    width: 100%;
    height: 100%;

	background: none;
    border: none;
    padding: 0;
    margin-bottom : 0;
    
    overflow: auto;
    white-space: pre-wrap;
}
select, button {
	cursor: pointer;
	border-radius : unset;
}
input, select, textarea {
	padding: 2px 10px;
	font-size: 14px;
	border-radius : unset;
	border : 1px solid rgba(198, 202, 209, 1);
}
input.file-input-hidden {
	display : none;
}
select {
	position:relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:#fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.4' height='6.1' viewBox='0 0 9.4 6.1'%3E%3Cpath id='Path_36' data-name='Path 36' d='M6.7,8.1,2,3.4,3.4,2,6.7,5.3,10,2l1.4,1.4Z' transform='translate(-2 -2)' fill='%23707070'/%3E%3C/svg%3E%0A") calc(100% - 10px) 13px no-repeat;
	padding-left:10px;
	padding-right:25px;
	appearance:none;
	text-overflow:ellipsis;
	white-space:nowrap;
	outline : none !important;
}
select[disabled], input[disabled], input[readonly] {
	background: rgba(238, 238, 238, 1);
    opacity: 1;
    cursor: inherit;
}
select:focus, input:focus, textarea:focus {
	border : 1px solid rgba(0, 166, 235, 1);
}
select::-ms-expand {
	display:none;
}
button {
	background-color: rgba(145, 145, 145, 1);
    color: white;
    border: 1px solid rgba(145, 145, 145, 1);
    outline : none !important;
    font-size : 15px;
}
button:hover {
	background-color: rgba(88, 88, 88, 1);
    border: 1px solid rgba(88, 88, 88, 1);
    color: white;
}
button[disabled], button[disabled]:hover {
	background-color : lightgray !important;
	border: 1px solid rgba(189, 191, 194, 1) !important;
	cursor: not-allowed;
}
span strong.imp-red {
	color : red;
}
span .esHighlight {
	color: orange;
}
table {
	width : 100%;
}
td img {
	/*width : 100%;*/
}
.btn_search {
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align: -.125em;
	background-image: url("data:image/svg+xml,%3Csvg id='Group_314' data-name='Group 314' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='Path_601' data-name='Path 601' d='M7-16a7,7,0,0,1,7,7A7,7,0,0,1,7-2,7,7,0,0,1,0-9,7,7,0,0,1,7-16Zm0,2a5,5,0,0,1,5,5A5,5,0,0,1,7-4,5,5,0,0,1,2-9,5,5,0,0,1,7-14Z' transform='translate(0 16)' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath id='Path_602' data-name='Path 602' d='M12-5.414,10.586-4l4,4L16-1.414Z' transform='translate(0 16)' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}
button.btn-blank {
	background: rgba(0, 0, 0, 0);
    color: rgba(51, 122, 183, 1);
    border: none;
}
.spinner {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000000;
    background: rgba(0,0,0,0.2);
}
.spinner.inner {
	position:absolute;
}
.spinner.on-slide {
	position:absolute;
	top : 54px;
}
.spinner .in {
	position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    margin: -60px 0 0 -60px;
}
.spinner .in img {
	width : 100%;
}
body .modal {
    padding: 0px !important;
    position: fixed;
}
.modal-header {
	display: flex;
    justify-content: space-between;
    border-bottom : 1px solid dimgray;
}
.modal-header::before, .modal-header::after {
	display : none;
}

.popup-close {
	display:inline-block;
	width:24px;
	height:24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_1912' data-name='Group 1912' transform='translate(-10779 -5326)'%3E%3Cg id='Group_1911' data-name='Group 1911' transform='translate(10783.312 5345.402)'%3E%3Cpath id='Path_1009' data-name='Path 1009' d='M1.661-14.4l.065.01.064.014.062.019.061.024.059.028.057.033.054.037.051.041.048.045L14.433-1.9l.045.048.041.051.037.054.033.057.028.059.024.061.019.062.014.064.01.065,0,.065v.065l0,.065-.01.065-.014.064-.019.063-.024.061-.028.059-.033.057-.037.054-.041.051-.045.048-.048.045-.051.041-.054.037L14.223-.5l-.059.028L14.1-.45l-.062.019-.064.015-.065.01-.065,0h-.065l-.065,0-.065-.01-.064-.015L13.525-.45l-.061-.024L13.405-.5l-.057-.033-.054-.037-.051-.041L13.2-.657.944-12.909.9-12.956l-.041-.051-.037-.054-.033-.057-.028-.059-.024-.061L.718-13.3.7-13.365l-.01-.065,0-.065v-.065l0-.065L.7-13.69l.015-.064.019-.062.024-.061.028-.059.033-.057.037-.054L.9-14.1l.045-.048.048-.045.051-.041.054-.037.057-.033.059-.028.061-.024.062-.019.064-.014.065-.01.065,0H1.6Z' transform='translate(0 0)' fill='%23646d82' fill-rule='evenodd'/%3E%3Cpath id='Path_1010' data-name='Path 1010' d='M13.912-14.4l.065.01.064.014.062.019.061.024.059.028.057.033.054.037.051.041.048.045.045.048.041.051.037.054.033.057.028.059.024.061.019.062.014.064.01.065,0,.065v.065l0,.065-.01.065-.014.064-.019.063-.024.061-.028.059-.033.057-.037.054-.041.051-.045.048L2.182-.657l-.048.045-.051.041-.054.037L1.972-.5l-.059.028L1.852-.45,1.79-.431l-.064.015-.065.01L1.6-.4H1.53l-.065,0L1.4-.416,1.337-.431,1.274-.45,1.213-.474,1.154-.5,1.1-.535,1.044-.572.992-.613.944-.657.9-.705.859-.757.822-.811.789-.867.761-.926.737-.987.718-1.05.7-1.114l-.01-.065,0-.065v-.065l0-.065L.7-1.439.718-1.5l.019-.062.024-.061.028-.059.033-.057L.859-1.8.9-1.847.944-1.9,13.2-14.146l.048-.045.051-.041.054-.037.057-.033.059-.028.061-.024.062-.019.064-.014.065-.01.065,0h.065Z' transform='translate(0 0)' fill='%23646d82' fill-rule='evenodd'/%3E%3C/g%3E%3Crect id='Rectangle_1495' data-name='Rectangle 1495' width='24' height='24' transform='translate(10779 5326)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
	border : none;
	background-color: transparent;
	
}
.popup-close:hover {
	background-color: transparent;
}

.modal-footer button {
	padding: 3px 10px;
}
.modal-title {
	font-size: 18px;
    font-weight: 600;
}
.modal-dialog {
	width : fit-content;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
.modal-dialog form {
	width : fit-content;
}

.modal-dialog .modal-content {
	width : fit-content;
	max-width : 100%;
	max-height : 100vh;
    border-radius: 0;
    display: flex;
    flex-direction : column;
}

.modal-body {
	display: flex;
    justify-content: space-between;
    border-bottom : 1px solid dimgray;
}
.modal-body::-webkit-scrollbar {
	width: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
	background-color: rgba(131, 131, 131, 1);
	border-radius: 0;
	background-clip: padding-box;
}
.modal-body::-webkit-scrollbar-track {
	background-color: rgba(128, 128, 128, 0.6);
	border-radius: 0;
}
.modal-content .modal-body .grid-area{
	width: 100%;
}
.modal-content .modal-body .grid-area .grid-header{
	width: 100%;
}
.modal-content .modal-body .grid-area .grid-header .header-unit{
	width: 30%;
}
.modal-content .modal-body .grid-area .grid-contents .grid-loof-cont .cont-unit{
	white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 합니다. */
}

.msg-modal {
	background-color: rgba(128, 128, 128, 0.3);
}
.msg-modal .msg-modal-display-area {
	padding : 20px 30px;
	text-align : center;
}
.msg-modal .msg-modal-btn-area {
	text-align : center;
}

.modal-chart-wrap {
	padding : 20px 10px;
}

.modal-body .modal-body-header {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    /*
    margin: 0px 10px 15px 10px;
    */
    padding: 0 0 10px 0;
    margin : 0 10px;
}
.modal-body .modal-body-header .modal-body-title {
	font-size: 16px;
    font-weight: 600;
}
.modal-body .modal-input-area {
	padding: 0 10px;
	min-height : 200px;
}
.modal-body .modal-input-area .modal-row-wrap {
}
.modal-row-wrap .select-label {
}
.modal-row-wrap .select-label span {
	word-break : keep-all;
	overflow-wrap: break-word;
}

.modal-row-wrap select, .modal-row-wrap input {
	min-height : 30px;
}
.modal-row-wrap > div > div {
	display : flex;
	border-bottom : 1px solid lightgray;
}
.modal-row-wrap > div > div.modal-year-select-wrap {
}

.modal-row-wrap > div > div > .select-label {
    font-weight: 600;
    width: 30%;
    margin-right : 10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}
.modal-row-wrap > div > div > .select-label > div {
	display: flex;
	flex-wrap: wrap;
    padding: 5px 0;
}
.modal-row-wrap > div > div.multi-row-wrap {
	padding : 0;
}

.modal-row-wrap .form-group {
	margin-bottom : 0px;
	width : 100%;
	padding: 5px 0;
}

.modal-row-wrap .form-group .child_table {
	width : 100%;
}
.modal-row-wrap .form-group .child_table > div {
	display: flex;
	border-bottom : 1px solid lightgray;
}
.modal-row-wrap .form-group .child_table > div:last-child {
	border-bottom : none;
}
.modal-row-wrap .form-group .child_table > div > div {
	width : calc(50% - 5px);
	display : flex;
	padding : 5px 0;
}
.modal-row-wrap .form-group .child_table > div > div:nth-child(odd) {
	margin-right : 5px;
}
.modal-row-wrap .form-group .child_table > div > div:nth-child(even) {
	margin-left : 5px;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label {
	width : 50%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	padding: 0 5px;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label span {
    font-size: 13px;
    text-align: right;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label > div {
	display : flex;
	flex-wrap : wrap;
	justify-content: flex-end;
}

.modal-row-wrap .form-group .child_table > div > div > .select-label + .form-group {
	width : 50%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-row-wrap .multi-row-wrap .form-group {
	padding : 0;
}
.form-group select {
	min-width : calc(50% - 5px);
}
.form-group input { 
	width : 100%;
	height : 100%;
}

.single-file-row .form-group {
	display : flex;
}
.single-file-row .form-group > input {
	min-width: calc(50% - 5px);
    width: auto;
}
.single-file-row .form-group > button {
	margin-left: 5px;
    min-width: 65px;
    padding: 2px;
}

#previewModal .modal-content {
	min-width : 700px;
	max-width : 100vw;
}


.mh-wrapper {
	width : 100%;
	height : 100%;
	overflow-x : hidden;
	overflow-y : auto;
	display : flex;
	flex-direction : column;
}
.header-wrap {
	width : 100%;
	z-index: 10;
    background: white;
    z-index:0;
}

.header-group {
	width : 100%;
	display : flex;
	justify-content: center;
	border-bottom : 1px solid rgba(223,223,223,1);
}
.header-group > .header-group-inner {
	display:flex;
	justify-content:space-between;
	width:1200px;
}
.header-group .main-logo-area {
	display:flex;
	height:80px;
}
.header-group .main-logo-area ._logo {
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.header-group .main-logo-area ._logo_sm {
	display: none;
}
.header-group .main-logo-area ._logo img {
	height:35px;	
}
.header-group .main-logo-area ._logo_sm img {
	height:35px;
}

.header-group .header-search-area {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.header-group .header-search-area > div {
	position:relative;
	width:400px;
	height:45px;
}
.header-group .header-search-area .main-search-input {
	width:100%;
	height:100%;
	border:2px solid rgba(93, 139, 220, 1);
}
.header-group .header-search-area .main-search-btn {
	position:absolute;
	right:0;
	width:45px;
	height:100%;
	font-size:20px;
}

.header-group .header-user-area {
	display:flex;
	justify-content:flex-end;
}
.header-group .header-user-area .main-user-area-inner {
	display:flex;
	flex-direction:column;
	justify-content: center;
}
#login_div ul li {
	list-style-type : none;
	float : left;
}
#login_div ul li>* {
	display : inline-block;
}
#login_div ul li a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	color: #005199;
	font-size: 13px;
}
#login_div ul li::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 13px;
	background: rgba(128, 128, 128, 0.5);
	margin: 0 5px;
	vertical-align : -2px;
}
#login_div ul li:first-child::before {
	display: none;
}

.main-menu-group {
	width : 100%;
	height : 40px;
	display : flex;
	justify-content : center;
	border-bottom : 1px solid gray;
	
	background-color:rgba(68,114,196,1);
}
.main-menu-group .main-menu-bar {
	width : 1200px;
	display : flex;
/* 	align-items: stretch; */
	justify-content : space-between;	
}

.main-menu-group .main-menu-bar .menu-bar {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-menu-group .main-menu-bar .menu-bar ul {
	height : 100%;
}
.main-menu-group .main-menu-bar .menu-bar ul li {
	list-style-type : none;
	float : left;
	height : 100%;
}
.main-menu-group .main-menu-bar .menu-bar ul li>* {
	display : inline-block;
}
.main-menu-group .main-menu-bar .menu-bar ul li a {
	text-decoration: none;
	background-color: transparent;
	/*color: rgba(0, 81, 153, 1);
	*/
	color:white;
	font-size: 15px;
	height : 100%;
}
.main-menu-group .main-menu-bar .menu-bar ul li a:hover {
	color : white;
	background : rgba(3, 78, 161, 1);
}
.main-menu-group .main-menu-bar .menu-bar ul li::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 15px;
	background: rgba(128, 128, 128, 0.5);
	margin-left: 5px;
	vertical-align : -2px;
}
.main-menu-group .main-menu-bar .menu-bar ul li:first-child::before {
	display: none;
}
.main-menu-group .main-menu-bar .menu-bar ul li a > div {
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
}
.menu-bar-rear {
/*     justify-content: left; */
	float:left;
}
/* 트리형 메뉴바 css 
.main-menu-group .main-menu-bar .tree-menu-bar {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-menu-group .main-menu-bar .tree-menu-bar > ul {
	display:flex;
	justify-content: right;
}
.main-menu-group .main-menu-bar .tree-menu-bar > ul> li {
	list-style-type : none;
	position: relative;
	padding: 0 5px;
	height : 100%;
	width:max-content;
}
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> a {
	text-decoration: none;
	background-color: transparent;
	color:white;
	font-size: 15px;
	height : 100%;
}
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> a:hover {
	text-decoration: none;
	color : white;
	background : rgba(3, 78, 161, 1);
	width:max-content;
}
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li a > div {
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
}
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul {
	background-color: #5f5f5f;
	position: absolute;
	display: none;
    height: 100%;
    padding: 0 0;
}
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul > li {
	text-decoration: none;
    padding: 0 5px;
    justify-content: left;
    color:white;
    background-color:#355fc0;
    padding: 0 5px;
	width: max-content;
    height: 100%;
}

.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul > li> a{
    background-color:black;
}

.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul> li> a:hover{
	text-decoration: none;
	background-color: #dfdfdf;
    transition: all 0.5s;
	width:max-content;
    height: 100%;
    padding: 0 5px;
}
*/
/*
.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul .collapse > li {
	clear: both;
	width: max-content;
    padding: 0 5px;
    justify-content: left;
    color:white;
    padding: 0 5px;
    height: 100%;
}

.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul .collapse > li> a{
    background-color:black;
}

.main-menu-group .main-menu-bar .tree-menu-bar> ul> li> ul .collapse> li> a:hover{
	background-color: #353535;
    transition: all 0.5s;
}
*/
.main-menu-group .menu-group .navi {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-menu-group .main-menu-bar .tree-menu-bar {
    flex-direction: column;
    justify-content: center;
	margin-top:9px;
	position:relative;
}

.tree-menu-bar .tree-menu-ul {
	display: flex;
	list-style: none;
  /**/
  padding: 0;
}
.tree-menu-bar .tree-menu-ul li {
	list-style-type : none;
	position: relative;
	height:30px;
	align-self:center;
}
.tree-menu-bar .tree-menu-ul li a{
	text-decoration: none;
	color:white;
	display:block;
	padding: 0 5px;
	height : 100%;
	width:max-content;
}
.tree-menu-bar .tree-menu-ul li > ul > li {
	background-color:#9997a7;
}
.tree-menu-bar .tree-menu-ul li > ul > li:hover {
	background-color:black;
}
.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  width:max-content;
}
.tree-menu-bar .tree-menu-ul li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.main-background-group {
	display:flex;
	justify-content:center;
	padding:20px 0;
}
.main-background-group .main-background-border {
	width:100%;
	height:590px;
	display:flex;
	flex-direction:column;
}
.main-background-group .main-background-border .main-background-inner {
	height:320px;
	display:flex;
	justify-content:center;
}
.main-background-group .main-background-text-area {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.main-background-group .main-background-text-area .main-upper-text {
	text-align:center;
	font-size:28px;
	font-weight:600;
	color:red;
	text-shadow: 1px 1px 2px pink;
}
.main-background-group .main-background-text-area .main-lower-text {
	text-align:center;
	font-size:20px;
	text-shadow:1px 1px 2px lightgray;
}
.main-background-group .main-background-border .main-broad-line {
	width:100%;
	height:220px;
	background-color:rgba(222,235,247,0.3);
}

.ico-base {
	background-color:rgba(32,56,100,1);
	width:100px;
	height:100px;
	padding:20px;
	border-radius:50px;
}
.ico-base:hover {
	background-color:rgba(3, 78, 161, 1);
}
.i-cate {
	width:100%;
	height:100%;
}
.cate-ico-1 {
	background: url('../img/cate/ico_1.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-2 {
	background: url('../img/cate/ico_2.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-3 {
	background: url('../img/cate/ico_3.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-4 {
	background: url('../img/cate/ico_4.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-5 {
	background: url('../img/cate/ico_5.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-6 {
	background: url('../img/cate/ico_6.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.cate-ico-7 {
	background: url('../img/cate/ico_7.png') no-repeat;
	background-position: center;
	background-size: contain;
}

.mh-wrapper .potal-main-area {
	position:absolute;
	margin-top:450px;
	width:100%;
	z-index:10;
	top:0px;
}
.mh-container {
	flex : 1;
	display : flex;
	justify-content: center;
}
.mh-container .main-content {
	width : 1200px;
	padding : 20px 0;
}

.main-area {
	width : 100%;
	height : 100%;
}


.front-main {
	width: 100%;
	height: 100%;
}

.front-main table {
	width : 100%;
	position: relative;
	/*
    top: 50%;
    transform: translate(0, -75%);
    */
}
.front-main table tbody tr td {
	overflow : auto;
	text-align : center;
	padding : 0 15px;
}
.front-main table tbody tr td a {
	font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration : none;
}
.front-main table.cate-list tbody tr td a {
	/*font-size: 20px;*/
	font-size:15px;
}
.front-main table.cate-list tbody tr td a img {
	/*width : 100%;*/
	/*width : 100px;*/
}
.page-wrap {
	display : flex;
	justify-content : center;
	height : 100%;
}
.page-layer {
	width : 100%;
	display: flex;
    flex-direction: column;
    overflow-x:hidden;
    position:relative;
}
.page-layer.w70 {
	width : 70%;
	min-width : 500px;
}

.page-title-wrap {
	margin-bottom: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.page-title-wrap span {
	font-size : 25px;
	font-weight: 600;
}
.page-title-wrap.div-area {
	/*
	border-bottom : 1px solid rgba(223,223,223,1);
	*/
	border-bottom : 1px solid dimgray;
}

.page-content-wrap {
	flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-btn-area {
	margin-bottom : 20px;
}
.tab-btn-area.with-option {
	margin-bottom : 10px;
}
.tab-btn-area ul {
	display : flex;
	border-bottom : 1px solid gray;
}
.tab-btn-area ul li {
    position: relative;
    top : 1px;
    min-width: 150px;
    height: 48px;
    border: 1px solid lightgray;
    border-bottom : 1px solid gray;
}
.tab-btn-area ul li:not(:first-child) {
    margin: 0 0 0 -1px;
}
.tab-btn-area ul li.active {
    border: 1px solid gray;
    z-index: 1;
    border-bottom: 1px solid #fff;
}
.tab-btn-area ul li a {
	width: 100%;
	height: 100%;
	color : gray;
	font-weight : 600;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tab-btn-area ul li.active a {
	color : rgba(42, 96, 177, 1);
}


.tab-content-area {
}
.tab-content-area .tab-content {
    overflow: hidden;
    height: 0;
    visibility: hidden;
    
}
.tab-content-area .tab-content.active {
    overflow: visible;
    height: auto;
    visibility: visible;
}

.table-paging {
	margin : 20px 0;
}
.table-paging > ul {
	display : flex;
	justify-content: center;
}
.table-paging > ul > li {
	border : 1px solid lightgray;
}
.table-paging > ul > li:not(first-child) {
	margin-left : 10px;
}
.table-paging > ul > li > a {
	display: block;
    padding: 0 12px;
    text-align: center;
    color: rgba(70, 70, 70, 1);
    text-decoration : none;
    
    min-width : 40px;
    height : 40px;
    line-height : 38px;
}
.table-paging > ul > li.on > a {
	background-color: rgba(51, 122, 183, 1);
    color: rgba(255, 255, 255, 1);
}
.table-paging > ul > li > a:hover {
	background-color: rgba(238, 244, 255, 1);
    color: rgba(70, 70, 70, 1);
}

/*.front-main >*/
.title-link {
	color : black;
}
.title-link:hover {
	text-decoration-line: unset;
	color: rgba(51,122,183,1);
}
.flex-row-box {
	width:100%;
	display:flex;
	justify-content:center;
	padding:5px 0;
}
.flex-col-box {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.front-main-boundary {
	min-height:100%;
	display:flex;
}

.front-main-boundary > .category-area {
	height:200px;
	background-color:rgba(255,255,255,0.5);
	padding:20px 20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	border:1px solid rgba(41, 48, 66, 0.05);
	border-radius:50px;
	margin-bottom:20px;
	box-shadow:0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
}
.double-cate-list {
	display : none;
	width : 100%;
}
.double-cate-list .cate-row-wrap {
	display:flex;
	justify-content:space-evenly;
	width:-webkit-fill-available;
}
.double-cate-list .cate-row-wrap .cate-item-title {
	padding:5px 0;
	text-align:center;
	font-weight:600;
	font-size: 15px;
}

.front-main-boundary > .small-board-area {
	display:flex;
	justify-content:space-between;
}
.half-board {
	flex:flex-wrap;
	width:calc(50% - 10px);
}

.half-board .inner-area {
	background-color:white;
	height:100%;
	border:1px solid rgba(41, 48, 66, 0.05);
	box-shadow:0 0 0.875rem 0 rgba(41, 48, 66, 0.05);
	padding: 10px 20px 20px 20px;
}
.half-board .half-board-title-area {
	height:15%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-weight:600;
	border-bottom:1px solid #333;
}
.half-board .half-board-title-area > div {
	display:flex;
	justify-content: space-between;
	font-weight:600;
}
.half-board .half-board-title-area > div > span {
	padding: 0 1rem;
	font-size:18px;
}
.half-board .half-board-grid-area {
	height: 85%;
}
.half-board .half-board-grid-area .half-board-grid-item {
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:20%;
	border-bottom:1px solid lightgray;
}
.half-board-grid-item .grid-inner {
	height:40px;
	display:flex;
	justify-content:space-between;
}
.half-board-grid-item .grid-inner .grid-front {
	display:flex;
	width:calc(100% - 80px);
}
.half-board-grid-item .grid-inner .grid-front .grid-label {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.half-board-grid-item .grid-inner .grid-front .grid-text {
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:0 10px;
	overflow:hidden;
	width:calc(100% - 100px);
}
.half-board-grid-item .grid-inner .grid-front .grid-text .title-link {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.half-board-grid-item .grid-inner .grid-rear {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    text-align: end;
}


/* 데이터 맵 ============================================================================*/
.map-tab-btn {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    height : 34px;
    border-radius : 17px;
}
.map-tab-btn:hover {
	color : white;
	background-color : rgba(40, 96, 144, 1);
	border-color : rgba(32, 77, 116, 1);
}
.map-tab-btn.active {
	color : white;
	background-color : rgba(51, 122, 183, 1);
	border-color : rgba(46, 109, 164, 1);
}
.map-tab-content-area {
	flex: 1;
    display: flex;
    flex-direction: column;
    
    position : relative;
}
.map-tab-content-area .map-tab-content {
    overflow: hidden;
    height: 0;
    visibility: hidden;
    
    flex: 1;
    flex-direction: column;
    
    position : absolute;
    z-index : 0;
    width : 100%;
}
.map-tab-content-area .map-tab-content.active {
    overflow: visible;
    height: auto;
    visibility: visible;
    display: flex;
    
    z-index : 1;
}

.display_area {
	flex : 1;
	margin-bottom : 20px;
	border : 1px solid lightgray;
	position: relative;
    overflow: hidden;
    min-height : 600px; /*svg와 같게 설정.. */
}
.network_layer {
	height : 100%;
}
.network_wrapper {
	height : 100%;
	position : relative;
}
.network_control_bar_area {
	position : absolute;
	z-index : 3;
	top : 10px;
	left : 10px;
	padding : 5px;
	display : flex;
	
	height: 40px;
	border : 1px solid gray;
	align-items: center;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	
}
.network_control_bar_area button {
	background : white;
	border : none;
	color : rgba(88,88,88,1);
}
.network_control_bar_area button:hover {
	color:rgba(33, 150, 243, 1);
}
.network_control_bar_area button:not(:first-child) {
	margin-left : 10px;
}



.svg_container {
	width : 100%;
	height : 100%;
}
.svg_container svg {
	width : 100%;
	height : 100%;
	min-height : 600px;
}


/* node color */	
.node {
	stroke : white;
	stroke-width: 2px;
}
circle[data-color='keyword']{
	fill : rgb(80,80,80);
}
circle[data-color='nat_area']{
	fill : rgb(230, 105, 114);
}
circle[data-color='city_area']{
	fill : rgb(82, 130, 223);
}


.nodesFolder { /* 초기 설정: 하위아이템이 나타나 있는 경우 */
	stroke : black;
	stroke-width: 0.3rem;
}

/* text */
.cate1 {
  	fill : white;
  	font-weight : 600;
  	font-size : 18px;
}
.cate2 {
	fill : white;
	font-weight : 600;
	font-size : 16px;
}
.cate2:hover {
	cursor: pointer;
	font-size : 17px;
}
.cate3, .cate4 {
  	text-shadow: 1px 1px white;
}
.cate3:hover, .cate4:hover {
	opacity : 1;
	font-weight : 600;
	transition : all 0.2s;
	cursor: pointer;
	font-size : 15px;
	text-shadow: 0 2px 3px white;
}

/* line */
.link {	/* 전체 line color */
	stroke : lightgrey;
	stroke-width : 1.5px;
}
._root {
	stroke : rgba(133,133,133,1);
	stroke-width : 3px;
}

/*로그인 폼 ===================================================================================== */
.login-form-area {
	width: 500px;
	height: fit-content;
    padding: 10px;
    position: relative;
    /*top: 50%*;*/
    top : 50px;
    left: 50%;
    /*transform: translate(-50%, -80%);
    */
    transform: translate(-50%, 0);
}
.login-form-area .login-form-header {
	border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.login-form-area .login-form-header > strong {
	font-size : 25px;
}

.login-form-area .login-form-body {
	border-bottom : 1px solid lightgray;
}
.login-form-area .login-form-body form {
	margin : 0;
}
.login-form-area .login-input-group > div {
	width : 100%;
	margin : 10px 0;
	height : 50px;
}
.login-form-area .login-input-group > div > input,
.login-form-area .login-input-group > div > button {
	width : 100%;
	height : 100%;
}
.login-form-area .login-form-bottom {
	display: flex;
    justify-content: center;
    margin: 20px 0;
}
.login-form-area .login-form-bottom > div {
	padding : 0 20px;
}
.login-form-area .login-form-bottom > div:not(:first-child) {
	border-left: 1px solid lightgray;
}

.login-form-area .login-copyright {
	font-size : 13px;
}
/* end of 로그인폼 ============================================================================== */


/* 회원가입 ===================================================================================== */

.form-content-wrap {
	/*
	margin : 20px 0;
	*/
}

.form-content-wrap tr.main-row {
	height : 40px;
}
.form-content-wrap tr.top-border {
	border-top : 1px solid gray;
}
.form-content-wrap tr.bottom-border {
	border-bottom : 1px solid lightgray;
}
.form-content-wrap td.empty-row {
	height : 30px;
	border : none;
}
.form-content-wrap tr td {
	padding : 0 15px;
}
.form-content-wrap tr.main-row td {
	padding : 5px 10px;
}
.form-content-wrap tr.titie-row td {
	padding : 0;
}
.form-content-wrap input[type='text'],
.form-content-wrap input[type='password'] {
	width : 50%;
	height : 30px;
}
.form-content-wrap input[type='checkbox'] {
	margin-left : 10px;
}

.form-content-wrap button {
	height : 30px;
}

.form-content-wrap .inner-title {
	margin-bottom : 5px;
}
.form-content-wrap .inner-title > span {
	font-size : 18px;
	font-weight : 600;
}
.form-content-wrap .title-sub-desc {
	display: flex;
    flex-direction: row-reverse;
}
.form-content-wrap .title-sub-desc,
.form-content-wrap label {
	font-size : 13px;
}
.form-content-wrap .input-util > div {
	margin : 0 0 5px 0;
	font-size : 13px;
}
.form-content-wrap .input-util > .input-success {
	color : rgba(0, 81, 153, 1);
}
.form-content-wrap .input-util > .input-warning {
	color : rgba(194, 78, 1, 1);
}

.form-button-wrap {
	display : flex;
	justify-content : flex-end;
	margin: 20px 0;
}
.form-button-wrap button {
	padding : 0 15px;
	height : 34px;
}
.form-button-wrap button:last-child {
	margin-left : 10px;
}

/* end of 회원가입 ============================================================================== */


/* 아이디/비밀번호 찾기============================================================================= */
.form-content-wrap .sub-description {
	/*margin : 10px;*/
	display: flex;
    flex-direction: column;
    padding : 0 10px 10px 10px;
}
.form-content-wrap .sub-description > span:not(:last-child) {
	margin-bottom : 5px;
}

.form-content-wrap .form-content-main {
	border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
.form-content-wrap .form-content-main table {
	width : 50%;
	min-width : 450px;
	margin : 30px 0;
}
.form-content-wrap .form-content-main table input {
	width : 100%;
}
/* end of 아이디/비밀번호 찾기 ============================================================================== */

/* 회원가입 완료 form ================================================================================*/
.join-result-wrap {
}
.join-result-wrap .join-result-header {
	margin: 10px;
}
.join-result-wrap .join-result-header span {
	margin-bottom : 5px;
}
.join-result-wrap .join-result-body {
	display : flex;
	justify-content : center;
	border: 1px solid lightgray;
}
.join-result-wrap .join-result-body table {
	width : 50%;
	min-width : 450px;
	margin : 30px 0;
}
.join-result-wrap .join-result-body tr {
	height : 30px;
}
.join-result-wrap .join-result-body tr td {
	padding : 5px 15px;
	font-weight : 600;
}
.join-result-wrap .join-result-bottom {
	display : flex;
	justify-content : center;
	margin : 20px 0;
}
.join-result-wrap .join-result-bottom button {
	padding : 10px 20px;
}
.join-result-wrap .join-result-bottom button:not(:first-child) {
	margin-left : 20px;
}
/* end of 회원가입 완료 form ============================================================================== */

/*글로벌 교통 데이터베이스 메인내용 ====================================================================== */
.search-group-area {
	border-top: solid 1px rgba(223,223,223,1);
	border-bottom : solid 1px rgba(223,223,223,1);
    padding: 15px 20px;
    background-color: rgba(243, 245, 248, 1);
    /*
    margin : 20px 0;
    */
    margin-bottom : 15px;
}
.search-group-wrap {
	display : flex;
	justify-content : space-between;
	flex-wrap : wrap;
}

.search-group-wrap .search-group-rear {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.search-group-wrap .search-group-front > *,
.search-group-wrap .search-group-rear > * {
	display : inline-block;
}
.search-group-wrap select {
	min-width : 100px;
	max-width : fit-content;
	min-height : 34px;
	position:inherit;
}
.search-group-wrap .select-label {
	font-size: 14px;
    font-weight: 600;
    color: rgba(42, 96, 177, 1);
    margin-bottom: 0;
}
.search-group-wrap button {
	height : 34px;
	padding : 0 10px;
}

.dbBtnbox {
	display : flex;
	justify-content : space-between;
	margin-bottom : 15px;
}
.dbBtnbox .l .navi_tit_cont {
    font-size: 15px;
    font-weight: bold;
    color: rgba(42, 96, 177, 1);
    margin-bottom: 0;
}
.dbBtnbox .r button {
    min-width: 55px;
    height: 30px;
    padding: 0 8px;
}

.boardBox {
	width:100%;
	margin-bottom : 20px;
	overflow-x : auto;
}
.boardBox table tr {
	border-bottom : 1px solid rgba(223,223,223,1);
}
.boardBox table thead tr:first-child {
	border-top : 1px solid gray;
}
.boardBox th, .boardBox td {
	padding : 10px 15px;
	font-size : 14px;
	border-right : 1px solid rgba(223,223,223,1);
	text-align : center;
}
.boardBox th {
	background : rgba(243, 245, 248, 1);
}
.boardBox td.row-header {
	text-align : left;
}

/* zone 화면 */
.zone-map-wrap {
	position : relative;
	overflow-x : hidden;
	overflow-y: visible;
    height: fit-content;
	border : 1px solid lightgray;
	text-align: center;
}

.zone-map-wrap .zone-map-area {
}
.zone-map-wrap .zone-map-area .zone-image {
 	width:100%;
}


.slide-doc-area {
	position : absolute;
	z-index : 10;
	top : 0;
	right : 0;
	text-align: left;
	max-width : 100%;
	
	transition-duration: .5s;
    transition-property: transform;
    transform: translateX(100%);
}
.slide-doc-area.on {
	transform: translateX(0px);
}

.slide-doc-layout {
    padding : 10px;
}

.slide-doc-area.on-map {
	width : 100%;
	height : 100%;
}
.slide-doc-area.on-map .slide-doc-layout {
    height : 100%;
    padding : 10px 20px 20px 10px;
}
.slide-doc-area.on-map .slide-doc-content-wrap {
	height : 100%;
}

.slide-doc-area.slide-graph {
	height : 100%;
}
.slide-doc-area.slide-graph .slide-doc-layout {
	height : 100%;
	padding : 20px 10px 10px 20px;
}
.slide-doc-area.slide-graph .slide-doc-content-wrap {
	height : 100%;
}



.slide-doc-area tr {
    border-bottom: 1px solid rgba(223,223,223,1);
}
.slide-doc-area thead tr:first-child {
	border-top: 1px solid gray;
}
.slide-doc-area th {
    background: rgba(243, 245, 248, 1);
}
.slide-doc-area th, .slide-doc-area td {
	padding : 5px;
	word-break: keep-all;
	border-left: 1px solid rgba(223,223,223,1);
	border-right: 1px solid rgba(223,223,223,1);
	text-align : center;
	
	font-size : 13px;
}
.slide-doc-area .row-header {
	text-align : left;
}
.slide-doc-area .slide-doc-content-wrap {
	/*
	width: 100%;
	max-width: calc(100vw - 40px);
	width : calc(100% - 40px);
	height: 100%;
    max-height: calc(100vh - 40px);
	*/
    min-width: 400px;
    max-width : 100vw;
	min-height: 500px;
    
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    display : flex;
    flex-direction: column;

    position : relative;
}
.slide-doc-area .doc-header-area {
	display: flex;
    padding: 15px;
    justify-content: space-between;
    border-bottom: 1px solid dimgray;
}
.doc-header-area .doc-header-title {
	font-size : 18px;
	font-weight : 600;
	margin: 0;
}
.doc-body-area {
	padding : 20px 15px;
	/*
	overflow-y : auto;
	*/
	overflow : auto;
	flex : 1;
	position : relative;
}
.doc-body-area .doc-body-title {
	font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    
    display : flex;
    justify-content : space-between;
}
.doc-body-title .map-doc-body-title-wrap {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.map-doc-controller {
	margin-bottom: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    background: rgba(243, 245, 248, 1);
    display : flex;
    justify-content : center;
}
.map-doc-controller > * {
	height : 34px;
	margin : 0 5px;
}
.map-doc-controller > div {
	display : flex;
	flex-direction : column;
	justify-content : center;
	font-weight : 600;
}
.map-doc-controller > select {
	width : 100px;
}
.map-doc-controller > button {
	min-width : 50px;
}


.doc-body-area .doc-body-content {
	
}
.doc-body-area .doc-body-content .doc-body-content-wrap:not(:last-child) {
	margin-bottom : 20px;
}
	
.doc-body-area .doc-body-content .doc-body-content-wrap .doc-sub-title {
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.empty-row, .empty-row td {
	border : 1px solid gray;
}


/* 네트워크 화면 */
.network-tab-btn-group {
	display : flex;
}
.network-tab-btn-group > div:not(:first-child) {
	margin-left : 5px;
}
.network-tab-btn-group > div > button {
	min-width: 55px;
    height: 30px;
    padding: 0 8px;
}

.file-list-table tr {
	border-bottom: 1px solid lightgray;
}
.file-list-table thead tr:first-child {
}
.file-list-table th {
	background: rgba(243, 245, 248, 1);
}
.file-list-table th, .file-list-table td {
	text-align : center;
    word-break : keep-all;
    padding : 6px 5px 5px 5px;
}
.file-list-table td > input,  .file-list-table td > .multi-btn-area {
	width : 100%;
	min-height : 30px;
}
.file-list-table .file-upload-group {
	display : flex;
}
.file-list-table .file-upload-group input {
	width : auto;
	min-height : 30px;
}

.file-list-table .file-upload-group button {
	margin-left : 5px;
	min-width : 65px;
	padding : 2px;
}

.file-list-table .file-list-row-wrap.deleteRow input {
	text-decoration: line-through;
}
.file-list-table .file-list-row-wrap span.icon-hide {
	display: none;
}

.file-list-table .multi-btn-area {
	display : flex;
	justify-content: flex-end;
}
.file-list-table .multi-btn-area .multi-btn-wrap {
	display : flex;
	height : 100%;
}
.file-list-table .multi-btn-area .multi-btn-wrap .btn-wrap {
	width : 30px;
	height : 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}	

/* KSP, 보고서 목록 =========================================================================*/
.label-set {
	overflow: hidden;
    min-width: 68px;
    padding: 3px 6px;
    color: #333;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
    
    font-size : 13px;
}
.label-set.red {
	color: #bc535f;
    border-color: #e6aab1;
}
.label-set.brown {
	color: #835d22;
    border-color: #d1b783;
}

a.file-icon {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-width : 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration : none;
}
a.file-icon > span {
	color: #fff;
    font-size: 13px;
    margin-right: 2px;
    padding: 3px 6px;
	background-color : gray;
	font-weight : 600;
}
a.file-icon > span.txt, a.file-icon > span.csv,
a.file-icon > span.doc {
	background-color: rgba(223, 177, 0, 1);
}
a.file-icon > span.xls, a.file-icon > span.xlsx {
	background-color: rgba(45, 181, 93, 1);
}
a.file-icon > span.pdf {
	background-color: rgba(203, 8, 8, 1);
}
a.file-icon > span.hwp {
	background-color: rgba(42, 169, 218, 1);
}
a.file-icon > span.jpe, a.file-icon > span.jpg,
a.file-icon > span.bmp, a.file-icon > span.png,
a.file-icon > span.rle, a.file-icon > span.dib,
a.file-icon > span.tif, a.file-icon > span.gif,
a.file-icon > span.jpe {
	background-color: rgba(19, 44, 226, 1);
}
a.file-icon > span.ppt {
	background-color: rgba(203, 8, 188, 1);
}
a.file-icon > span.xml {
	background-color: rgba(255, 81, 0, 1);
}
a.file-icon > span.website, a.file-icon > span.web {
	background-color : rgba(8, 8, 255, 1);
}
.file-set {
	margin : 5px 0;
}
.file-set > .file-name {
	color : black;
}
.file-set > .file-name.delete {
	text-decoration : line-through;
}
.file-set > .file-name:hover {
	text-decoration : none;
	color : rgba(0, 123, 255, 1);
}
.file-set > .file-name.no-link:hover {
	text-decoration : none;
	color : black;
}
.file-set > .file-revert {
	color : rgba(51, 122, 183, 1);
	vertical-align : middle;
}
.file-set > .file-remove {
	color : rgba(217, 83, 79, 1);
	vertical-align : middle;
}

.search-input-group {
	width : 100%;
	display : flex;
	justify-content : space-between;
	padding: 10px 20px;
    height: 60px;
}

.search-input-front, .search-input-rear {
	display: flex;
	height : 100%;
}
.search-input-front {
    width: 100%;
	position : relative;
}
.search-input-group input, .search-input-group button {
	height : 100%;
}
.search-input-front input {
	width: 100%;
	padding-right : 50px;
	position : absolute;
}
.search-input-front button {
	width: 40px;
	border : none;
	position : absolute;
	right : 0;
}
.search-input-rear {
}
.search-input-rear > button {
	width : 100px;
	margin-left : 30px;
}

.search-state-area {
	text-align : center;
	margin-bottom : 20px;
	padding : 20px 0;
}
.search-state-area > span {
	font-weight : 600;
	font-size : 20px;
}
.search-state-area > span > strong {
	color : rgba(18, 0, 255, 1);
}
.search-option-area {
	height: 34px;
	/*
    margin: 10px 0;
    */
    display: flex;
    justify-content: flex-end;
    margin-bottom : 10px;
}
.search-option-area select:not(:first-child) {
	margin-left : 10px;
}

.list-wrap:not(:last-child) {
	margin-bottom : 40px;
}
.list-title {
	display : flex;
	justify-content : space-between;
	margin-bottom : 10px;
}
.list-title > span {
	font-size : 18px;
	font-weight : 600;
}
.list-title .list-btn-area {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.list-line {
	border-top: 2px solid dimgray;
}

.list-line > ul {
}
.list-line > ul > li {
	padding : 15px 20px;
	border-bottom : 1px solid lightgray;
	border-left : 1px solid lightgray;
	border-right : 1px solid lightgray;
}
.list-line .list-content-wrap {
	flex:1;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
.list-line .listItem {
	display:flex;
}

.tag-area, .tag-area > div {
	display : flex;
}
.tag-area {
	margin-bottom : 10px;
}
.tag-area > div {
	flex-direction : column;
	justify-content : center;
	
}
.tag-area > div:not(:first-child) {
	margin-left : 5px;
}
.list-line .list-content-area {
	flex : 1;
}
.list-line .list-content-area dt {
	display : flex;
	margin-bottom : 10px;
	height : 24px;
	overflow : hidden;
	width:100%;
}
.list-line .list-content-area dd {
	margin-bottom : 10px;
	
	max-height : 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.list-line .list-content-area dt a {
	text-decoration: none;
	color : rgba(51, 51, 51, 1);
	font-size : 16px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-line .list-content-area dt a:hover {
	color : rgba(51, 122, 183, 1);
}

.info-data {
	display : flex;
	font-size : 13px;
}
.info-data > div {
	display : flex;
}
.info-data > div:not(:first-child) {
	margin-left : 20px;
}
.info-data > div > span:not(:first-child) {
	margin-left : 10px;
}
.list-line .no-list {
	text-align : center;
	font-weight : 600;
	padding : 10px 0;
}
/* end of KSP, 보고서 목록 =========================================================================*/

/* KSP, 보고서 상세 ================================================================================*/
.board-content {
	border-top: 1px solid gray;
	margin-bottom : 20px;
}
.board-content-header-group {
	padding: 20px 10px;
	border-bottom : 1px solid gray;
}
.board-content-header-group .board-content-title {
	font-size : 18px;
	font-weight : 600;
}
.board-content-header-group .board-content-sub-info {
	display : flex;
	justify-content : space-between;
	font-size : 13px;
}
.board-content-list-group {
}
.board-content-list-group table tr {
	border-bottom : 1px solid lightgray;
}
.board-content-list-group table td {
	padding : 10px;
}
.board-content-list-group table td:first-child {
	background: rgba(243, 245, 248, 1);
	font-weight : 600;
}
.board-content-list-group .board-content-list-fileset {
	display : flex;
	flex-wrap: wrap;
}
.board-content-list-group .board-content-list-fileset > div {
	display : flex;
	flex-wrap: wrap;
}
.board-content-list-group .board-content-list-fileset > div > div {
	margin-right : 15px;
}
.board-content-comment-area {
	height : auto;
	display: flex;
	border-bottom : 1px solid lightgray;
}
.board-content-comment-area pre {
	
	padding : 20px 10px;
}

.board-bottom-group {
	margin-bottom : 20px;
	display : flex;
}
.board-bottom-group > div {
	width : 50%;
	height : 40px;
	display : flex;
}
.board-bottom-group > div > button {
	min-width : 80px;
}
.board-bottom-group .board-bottom-group-front {
	
}

.board-bottom-group .board-bottom-group-rear {
	justify-content : flex-end;
}
.board-bottom-group .board-bottom-group-front > button:not(:first-child),
.board-bottom-group .board-bottom-group-rear > button:not(:first-child) {
	margin-left : 10px;
}
/* end of KSP, 보고서 상세 =========================================================================*/

/* KSP, 보고서 등록/수정 ============================================================================*/
.board-content-list-group table td.board-input-row {
	padding : 2px 10px;
}
.board-content-list-group table td.board-input-row input {
	width : 100%;
}
.board-content-list-group table td.board-input-row input,
.board-content-list-group table td.board-input-row select,
.board-content-list-group table td.board-input-row button  {
	height : 34px;
}
.board-content-list-group table td.board-input-row button.file-revert,
.board-content-list-group table td.board-input-row button.file-remove  {
	height : auto;
	padding : 2px;
}
.board-input-row .board-select-wrap > *:not(:first-child) {
	margin-left : 10px;
}
.board-input-row .board-select-wrap > select {
	min-width : 20%
}

.board-input-row .file-input-group {
	display : flex;
}
.board-input-row .file-input-group > *:not(:first-child) {
	margin-left : 10px;
}
.board-input-row .file-input-group > button {
	min-width : 80px;
}
.board-content-comment-area textarea {
	padding : 20px 10px;
	width : 100%;
	height : fit-content;
	resize : none;
	border : none;
}
/* end of KSP, 보고서 등록/수정 =========================================================================*/

/* 관리자 ============================================================================================*/
.mh-container .admin-content {
	width : 1200px;
	display : flex;
}

.admin-main-area {
	flex : 1;
	height : 100%;
	padding : 20px 0;
}
.admin-nav-area {
	width : 200px;
	height : 100%;
}
.admin-nav-wrap {
	padding : 20px 0;
	margin-right : 20px;
	border-left : 1px solid rgba(223,223,223,1);
	border-right : 1px solid rgba(223,223,223,1);
	height : 100%;
}
.nav-main-title {
	border-top : 1px solid rgba(223,223,223,1);
	border-bottom : 1px solid rgba(223,223,223,1);
	padding : 10px;
	font-size : 16px;
	font-weight : 600;
	text-align : center;
}
.nav-menu-list {
	background-color : rgba(243, 245, 248, 1);
	border-bottom : 1px solid rgba(223,223,223,1);
}
.nav-menu-list > div:not(:last-child) {
	padding-bottom : 2px;
}

.side-nav-main-btn {
	display : flex;
}
.side-nav-main-btn a {
	width : 100%;
	height : 100%;
	padding : 10px;
	text-decoration : none;
	display : flex;
	justify-content : space-between;
	/*
	font-weight : 600;
	*/
    background: rgba(51, 122, 183, 1);
    color: white;
}
.side-nav-main-btn a:hover {
	text-decoration : none;
}
.side-nav-main-btn a > div {
	display : flex;
	flex-direction: column;
    justify-content: center;
}

ul .side-nav-sub-btn {
	display : flex;
}
/*
ul .side-nav-sub-btn:not(:last-child) {
	padding-bottom : 2px;
}
*/
ul .side-nav-sub-btn:first-child {
	padding-top : 2px;
}

ul .down-sub-menu{
	
}

.side-nav-sub-btn a {
	width: 100%;
    height: 100%;
    padding: 8px 10px 8px 20px;
	text-decoration : none;
	color : dimgray;
}
.side-nav-sub-btn a.active {
	color : white;
	font-weight : 600;
	background-color : rgba(8, 143, 220, 1);
}
.side-nav-sub-btn a:hover {
	text-decoration : none;
	color : white;
	background-color : rgba(3, 78, 161, 1);
}

.search-group-single {
	width : 100%;
	display : flex;
}
.search-group-single > * {
	display : inline-block;
}
.search-group-single .search-group-single-input {
	display : flex;
	width : calc(85%);
}
.tit_cont {
	font-size: 14px;
	font-weight: bold;
	color: #2A60B1;
	margin-bottom: 0;
	display: flex;
	min-width: calc(8% - 10px);
	align-items: center; /* 수직 정렬 */
	max-width: calc(15% - 10px);
}
.tit_mid_cont {
	font-size: 14px;
	font-weight: bold;
	color: #2A60B1;
	margin-bottom: 0;
	display: flex;
	min-width: calc(12% - 10px);
	align-items: center; /* 수직 정렬 */
	max-width: calc(17% - 10px);
}
.search-group-single .search-group-single-input > * {
	margin-left : 10px;
}
.search-group-single .search-group-single-input > input {
	/*min-width : 500px;*/
	width : calc(100% - 300px);
	max-width : 500px;
}
.date_input {
	min-width:100px !important; /* 부모 요소의 width 속성을 덮어씀 */
	max-width:130px !important; /* 부모 요소의 width 속성을 덮어씀 */
}
.search-group-single .search-group-single-input > button {
	display : inline-block;
	min-width: 80px;
}
.search-group-single .search-group-single-input > input,
.search-group-single .search-group-single-input > button {
	min-height : 34px;
}
.search-group-single .search-group-single-div {
		width : calc(15%);
}
.search-group-single .search-group-single-div .l{
	float : left;
}
.search-group-single .search-group-single-div .r{
	float : right;
}
.search-group-single .search-group-single-input > button .r{
	float : left;
}

.boardBox.list-set tr > th:last-child,
.boardBox.list-set tr > td:last-child {
	border-right : none;
}

.adm-register-form {
	margin-bottom : 20px;
}
.adm-register-form table {
	width : 100%;
}
.adm-register-form table > tbody > tr {
	border-bottom : 1px solid rgba(223,223,223,1);
	height : 40px;
}
.adm-register-form table > tbody > tr:first-child {
	border-top : 1px solid dimgray;
	
}
.adm-register-form table > tbody > tr > td {
	padding: 5px 10px;
    font-size: 14px;
    /*
    border-right: 1px solid rgba(223,223,223,1);
	text-align : center;
	*/
}
.adm-register-form table > tbody > tr > td:first-child {
	text-align : left;
	font-weight : 600;
	background-color : rgba(243, 245, 248, 1);
}
/*
.adm-register-form table > tbody > tr > td:not(:first-child) {
    border-left: 1px solid rgba(223,223,223,1);
	
}
*/
.adm-register-form table > tbody > tr > td > div {
	width : 100%;
}
.adm-register-form table input:not([type=radio], [type="checkbox"]) {
	width : 100%;
	height : 34px;
}
.adm-register-form table select {
	width : 100%;
	height : 34px;
}


.adm-register-form table > tbody > tr > td div.single-row {
	display : flex;
}
.adm-register-form table .single-row input:not([type=radio], [type="checkbox"]) {
	width : 50%;
	margin-right : 10px;
}
.adm-register-form table .single-row > *:not(:first-child) {
	margin-left : 10px;
}


.adm-register-form table > tbody > tr > td div.single-row .row-sub-description {
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 0;
}


.grid-area {
	width:120%;
	position:relative;
	overflow-x:scroll;
}
/* 가로 스크롤바 스타일 */
.grid-area::-webkit-scrollbar {
    height: 12px; /* 스크롤바 높이 조절 */
    background-color: #f5f5f5; /* 스크롤바 배경색 설정 */
}
.grid-area::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 설정 */
    border-radius: 6px; /* 스크롤바 모양을 둥글게 만듭니다. */
}
.grid-area::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 스크롤바 트랙 배경색 설정 */
}
.grid-area .grid-header {
	border-top : 1px solid dimgray;
}
.grid-area .grid-header,
.grid-area .grid-loof-cont {
	display : flex;
    border-bottom: 1px solid rgba(223,223,223,1);
}
.grid-header .header-unit {
	background-color : rgba(243, 245, 248, 1);
}
.grid-header .header-unit,
.grid-contents .cont-unit {
	width : 30%;
	padding: 10px 15px;
    font-size: 14px;
    /*
    border-right: 1px solid rgba(223,223,223,1);
    */
    text-align: center;
    
    overflow : hidden;
    text-overflow : ellipsis;
}
.grid-header .header-unit:not(:last-child),
.grid-contents .cont-unit:not(:last-child) {
    border-right: 1px solid rgba(223,223,223,1);
}
.grid-area .header-unit.desc-unit,
.grid-area .cont-unit.desc-unit {
	width : 40%;
}
.grid-area .cont-unit.desc-unit {
	text-align : left;
}
.grid-area .header-unit a {
	color : rgba(51,51,51,1);
	font-weight : 600;
}
.grid-area .header-unit a:hover {
	text-decoration : none;
	
}

.grid-area .check-unit {
	display: flex;
	flex-direction : column;
	justify-content : center;
	width : auto;
	padding : 10px 15px;
    border-right: 1px solid rgba(223,223,223,1);
}
.grid-area .check-unit input[type="checkbox"] {
	margin : 0;
}
.grid-area .check-unit.check-all {
	background-color : rgba(243, 245, 248, 1);
}

.dual-list-area {
	display : flex;
} 
.list-group-wrap {
	width : 45%;
	padding : 10px 0;
	display : flex;
	flex-direction : column;
}
.list-group-wrap > div:last-child {
	flex : 1;
	border : 1px solid rgba(198, 202, 209, 1);
}
.list-btn-wrap {
	width : 10%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	padding : 10px;
}
.list-btn-wrap > button {
	margin : 10px 0;
	font-size : 20px;
}
.list-btn-wrap > button:hover {
	color : rgba(0, 166, 235, 1);
}
.dual-list-area .list-wrap {
	padding : 10px;
}

/* end of 관리자 =====================================================================================*/

/* 관리자 local tree type =================================================================================*/
.sub-nav-content-group {
	display : flex;
	width : 100%;
    max-height: calc(100vh - 212px); /*전체화면 높이 + 헤더 + 페이지 제목 + 여백*/
}


.sub-type-nav-area {
	width : 180px;
	max-height : 100%;
	border : 1px solid rgba(223,223,223,1);
	overflow : auto;
}
.admin-local-tree {
	
}
.admin-local-tree a {
	text-decoration : none;
	/*
    font-weight : 600;
    */
}
.admin-local-tree a:hover {
	color : white;
	background-color : rgba(0, 166, 235, 1);
    text-decoration : none;
    cursor : pointer;
}

.admin-local-tree .tree-item-category,
.admin-local-tree .tree-item-unit {
	padding : 2px;
	display : flex;
	justify-content : space-between;
	border-bottom : 1px solid rgba(223,223,223,1);
}
/*
.admin-local-tree .comm-treeview:first-child .tree-item-category {
	border-top : 1px solid rgba(223,223,223,1);
	
}
*/
.admin-local-tree .tree-item-category a {
	padding : 5px 5px;
    flex : 1;
    font-weight : 600;
}

.admin-local-tree .tree-item-unit {
}
.admin-local-tree .tree-item-unit a {
	padding : 5px 5px 5px 15px;
    flex : 1;
    font-size : 13px;
}

.comm-treeview .tree-item-category .list-extend {
	display : inline-block;
}
.comm-treeview .tree-item-category .list-shrink {
	display : none;
}
.comm-treeview.tree-open .tree-item-category .list-extend {
	display : none;
}
.comm-treeview.tree-open .tree-item-category .list-shrink {
	display : inline-block;
}


.sub-type-content-area {
	flex : 1;
	border : 1px solid rgba(223,223,223,1);
	padding : 20px 10px 0 10px;
	margin-left : 10px;
}

.sub-type-content-area .sub-content-title {
	font-size : 18px;
	font-weight : 600;
	margin-bottom : 10px;
	padding-bottom : 5px;
}

.sub-type-content-area .adm-register-form td.header-cell {
	background-color : rgba(243, 245, 248, 1);
	font-weight : 600;
	text-align : left;
}
.sub-type-content-area .adm-register-form td > select {
	width : 100%;
}

.sub-type-content-area .adm-register-form td.inner-table-cell {
	background-color : unset;
}
.inner-table-wrap {
	
}
.inner-table-wrap .inner-table-control {
	display : flex;
	justify-content : flex-end;
	padding : 5px 0;
	height : 40px;
}
.inner-table-wrap .inner-table-control > *:not(:first-child) {
	margin-left : 10px;
}
.adm-register-form td .inner-table-wrap table thead tr th,
.adm-register-form td .inner-table-wrap table tbody tr td {
	padding : 5px 2px;
	text-align : center;
}
.adm-register-form td .inner-table-wrap table thead tr th {
	background-color : rgba(243, 245, 248, 1);
	border-top : 1px solid dimgray;
	border-bottom : 1px solid rgba(223,223,223,1);
}
.adm-register-form td .inner-table-wrap table tbody tr td {
	background : none;
	border-bottom : 1px solid rgba(223,223,223,1);
}
.adm-register-form td .inner-table-wrap table tbody tr td select {
	width : 100%;
}


/* end of 관리자 local tree ==========================================================================*/

/* 팝업 스타일 */
.multi_file-list-table{
	
}
.multi_file-list-table tr{
	
}
.multi_file-list-table th{
	border-bottom: 1px solid #ddd;
	padding:5px;
}
.multi_file-list-table td{
	width:350px;
	border-bottom: 1px solid #ddd;
	padding:5px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi_file-list-table td a{
	border-bottom: 1px solid #ddd;
	padding:5px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#multiFileDialog{
	min-width:580px;
	max-width:680px;
	
}

.multi_file-list-table tr:nth-child(even) {background-color: #f2f2f2;}


/*media query : 1200px부터 시작.. */
/* slide doc의 max-width, max-height : 화면 너비기준, 여백 확인하여 설정필요.. */
@media ( max-width: 1200px ) {
	.main-menu-group .header-title {
	    width: 100%;
	}
	.main-menu-group .main-menu-bar {
	    width: 100%;
	}
	.mh-container .main-content {
		width: 100%;
	}
}


@media ( max-width: 960px ) {
	.main-background-group .main-background-border {
		height: 680px;
	}
	.main-background-group .main-background-border .main-background-inner {
		height: 340px;
	}
	.main-background-group .main-background-border .main-broad-line {
		height: 380px;
	}
	.category-area {
		height : 340px !important;
	}
	.cate-list {
		display : none;
	}
	.double-cate-list {
		display : block;
	}
	.small-board-area {
		display : unset !important;
	}
	.small-board-area .half-board {
		width : 100%;
	}
}

@media ( max-width: 860px ) {
	.header-group > .header-group-inner {
		width : 100%;
		justify-content : space-around;
	}
	.header-group .header-search-area {
		width : 60%;
	}
	.header-group .header-search-area > div {
		width : 100%;
	}
	.header-group .main-logo-area ._logo {
		display:none;
	}
	.header-group .main-logo-area ._logo_sm {
		display: flex;
		flex-direction:column;
		justify-content:center;
	}
}

@media ( max-width: 700px ) {
	.header-group .header-search-area {
		width : 50%;
	}
	
}
@media ( max-width: 650px ) {
	.thumbArea {
		display:none;
	}
	
}
.btn-primary .r {
	float:right;
}
.newPage {
	width : 100vw;
	height : 100vh;
	display: flex;
	flex-direction: column;
}