@charset "EUC-KR";
body .modal {
    padding: 0px !important;
    position: fixed;
}
.modal-header {
	display: flex;
    justify-content: space-between;
    border-bottom : 1px solid dimgray;
}
.modal-header::before, .modal-header::after {
	display : none;
}

.popup-close {
	display:inline-block;
	width:24px;
	height:24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_1912' data-name='Group 1912' transform='translate(-10779 -5326)'%3E%3Cg id='Group_1911' data-name='Group 1911' transform='translate(10783.312 5345.402)'%3E%3Cpath id='Path_1009' data-name='Path 1009' d='M1.661-14.4l.065.01.064.014.062.019.061.024.059.028.057.033.054.037.051.041.048.045L14.433-1.9l.045.048.041.051.037.054.033.057.028.059.024.061.019.062.014.064.01.065,0,.065v.065l0,.065-.01.065-.014.064-.019.063-.024.061-.028.059-.033.057-.037.054-.041.051-.045.048-.048.045-.051.041-.054.037L14.223-.5l-.059.028L14.1-.45l-.062.019-.064.015-.065.01-.065,0h-.065l-.065,0-.065-.01-.064-.015L13.525-.45l-.061-.024L13.405-.5l-.057-.033-.054-.037-.051-.041L13.2-.657.944-12.909.9-12.956l-.041-.051-.037-.054-.033-.057-.028-.059-.024-.061L.718-13.3.7-13.365l-.01-.065,0-.065v-.065l0-.065L.7-13.69l.015-.064.019-.062.024-.061.028-.059.033-.057.037-.054L.9-14.1l.045-.048.048-.045.051-.041.054-.037.057-.033.059-.028.061-.024.062-.019.064-.014.065-.01.065,0H1.6Z' transform='translate(0 0)' fill='%23646d82' fill-rule='evenodd'/%3E%3Cpath id='Path_1010' data-name='Path 1010' d='M13.912-14.4l.065.01.064.014.062.019.061.024.059.028.057.033.054.037.051.041.048.045.045.048.041.051.037.054.033.057.028.059.024.061.019.062.014.064.01.065,0,.065v.065l0,.065-.01.065-.014.064-.019.063-.024.061-.028.059-.033.057-.037.054-.041.051-.045.048L2.182-.657l-.048.045-.051.041-.054.037L1.972-.5l-.059.028L1.852-.45,1.79-.431l-.064.015-.065.01L1.6-.4H1.53l-.065,0L1.4-.416,1.337-.431,1.274-.45,1.213-.474,1.154-.5,1.1-.535,1.044-.572.992-.613.944-.657.9-.705.859-.757.822-.811.789-.867.761-.926.737-.987.718-1.05.7-1.114l-.01-.065,0-.065v-.065l0-.065L.7-1.439.718-1.5l.019-.062.024-.061.028-.059.033-.057L.859-1.8.9-1.847.944-1.9,13.2-14.146l.048-.045.051-.041.054-.037.057-.033.059-.028.061-.024.062-.019.064-.014.065-.01.065,0h.065Z' transform='translate(0 0)' fill='%23646d82' fill-rule='evenodd'/%3E%3C/g%3E%3Crect id='Rectangle_1495' data-name='Rectangle 1495' width='24' height='24' transform='translate(10779 5326)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
	border : none;
	background-color: transparent;
	
}
.popup-close:hover {
	background-color: transparent;
}

.modal-footer button {
	padding: 3px 10px;
}
.modal-title {
	font-size: 18px;
    font-weight: 600;
}
.modal-dialog {
	width : fit-content;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
.modal-dialog form {
	width : fit-content;
}

.modal-dialog .modal-content {
	width : fit-content;
	max-width : 100%;
	max-height : 100vh;
    border-radius: 0;
    display: flex;
    flex-direction : column;
}

.modal-body {
	display: flex;
    justify-content: space-between;
    flex-direction:column;
    border-bottom : 1px solid dimgray;
    overflow-x:hidden;
}
.modal-body::-webkit-scrollbar {
	width: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
	background-color: rgba(131, 131, 131, 1);
	border-radius: 0;
	background-clip: padding-box;
}
.modal-body::-webkit-scrollbar-track {
	background-color: rgba(128, 128, 128, 0.6);
	border-radius: 0;
}
.modal-content .modal-body .grid-area{
	width: 100%;
}
.modal-content .modal-body .grid-area .grid-header{
	width: 100%;
}
.modal-content .modal-body .grid-area .grid-header .header-unit{
	width: 30%;
}
.modal-content .modal-body .grid-area .grid-contents .grid-loof-cont .cont-unit{
	white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 합니다. */
}

.msg-modal {
	background-color: rgba(128, 128, 128, 0.3);
}
.msg-modal .msg-modal-display-area {
	padding : 20px 30px;
	text-align : center;
}
.msg-modal .msg-modal-btn-area {
	text-align : center;
}

.modal-chart-wrap {
	padding : 20px 10px;
}

.modal-body .modal-body-header {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    /*
    margin: 0px 10px 15px 10px;
    */
    padding: 0 0 10px 0;
    margin : 0 10px;
}
.modal-body .modal-body-header .modal-body-title {
	font-size: 16px;
    font-weight: 600;
}
.modal-body .modal-input-area {
	padding: 0 10px;
	min-height : 200px;
}
.modal-body .modal-input-area .modal-row-wrap {
}
.modal-row-wrap .select-label {
}
.modal-row-wrap .select-label span {
	word-break : keep-all;
	overflow-wrap: break-word;
}

.modal-row-wrap select, .modal-row-wrap input {
	min-height : 30px;
}
.modal-row-wrap > div > div {
	display : flex;
	border-bottom : 1px solid lightgray;
}
.modal-row-wrap > div > div.modal-year-select-wrap {
}

.modal-row-wrap > div > div > .select-label {
    font-weight: 600;
    width: 30%;
    margin-right : 10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}
.modal-row-wrap > div > div > .select-label > div {
	display: flex;
	flex-wrap: wrap;
    padding: 5px 0;
}
.modal-row-wrap > div > div.multi-row-wrap {
	padding : 0;
}

.modal-row-wrap .form-group {
	margin-bottom : 0px;
	width : 100%;
	padding: 5px 0;
}

.modal-row-wrap .form-group .child_table {
	width : 100%;
}
.modal-row-wrap .form-group .child_table > div {
	display: flex;
	border-bottom : 1px solid lightgray;
}
.modal-row-wrap .form-group .child_table > div:last-child {
	border-bottom : none;
}
.modal-row-wrap .form-group .child_table > div > div {
	width : calc(50% - 5px);
	display : flex;
	padding : 5px 0;
}
.modal-row-wrap .form-group .child_table > div > div:nth-child(odd) {
	margin-right : 5px;
}
.modal-row-wrap .form-group .child_table > div > div:nth-child(even) {
	margin-left : 5px;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label {
	width : 50%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	padding: 0 5px;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label span {
    font-size: 13px;
    text-align: right;
}
.modal-row-wrap .form-group .child_table > div > div > .select-label > div {
	display : flex;
	flex-wrap : wrap;
	justify-content: flex-end;
}

.modal-row-wrap .form-group .child_table > div > div > .select-label + .form-group {
	width : 50%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-row-wrap .multi-row-wrap .form-group {
	padding : 0;
}