@font-face {
	font-family: 'fontawesome';
	src: url('/themes/adbdatalibv2/fonts/fontawesome-webfont.eot?v=4.3.0');
	src:
		url('/themes/adbdatalibv2/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0')
		format('embedded-opentype'),
		url('/themes/adbdatalibv2/fonts/fontawesome-webfont.woff2?v=4.3.0')
		format('woff2'),
		url('/themes/adbdatalibv2/fonts/fontawesome-webfont.woff?v=4.3.0')
		format('woff'),
		url('/themes/adbdatalibv2/fonts/fontawesome-webfont.ttf?v=4.3.0')
		format('truetype'),
		url('/themes/adbdatalibv2/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
		format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Ideal Sans A';
	src: url(/themes/adbdatalibv2/fonts/IdealSans-Book.eot);
	src: url(/themes/adbdatalibv2/fonts/IdealSans-Book.eot?#iefix)
		format("embedded-opentype"),
		url(/themes/adbdatalibv2/fonts/IdealSans-Book.otf) format("opentype"),
		url(/themes/adbdatalibv2/fonts/IdealSans-Book.woff) format("woff"),
		url(/themes/adbdatalibv2/fonts/IdealSans-Book.ttf) format("truetype"),
		url(/themes/adbdatalibv2/fonts/IdealSans-Book.svg#IdealSans-Book)
		format("svg");
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Ideal Sans A", sans-serif;
}

.btn {
	padding: 4px 8px
}

.region-home-search {
	color: #002569;
	margin-top: -20px
}

.region-home-search h2 {
	font-size: 28px
}

.region-home-search .form-group, .region-home-search .input-group,
	.region-content  .form-group, .region-content  .input-group {
	width: 100%
}

.region-home-search .input-group-addon, .region-content  .input-group-addon
	{
	width: 34px !important
}

#views-exposed-form-search-content-site-search #edit-actions {
	display: none
}

.summary {
	font-size: 1.4em;
	color: #087cb4;
	background-color: #f2f2f2;
	padding: 20px 20px 40px;
	margin-bottom: 20px
}

.summary h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 30px
}

.summary a {
	color: #007CB8;
	text-decoration: none;
}

.summary .icon {
	font-size: 16px;
	float: left;
	padding-right: 15px
}

.summary .count {
	font-family: 'Ideal Sans A';
	font-size: 50px;
	line-height: 1em;
	display: block;
}

.block-views-blockfrontpage-block-3 .view-content {
	margin-left: -15px;
	margin-right: -15px
}

.block-views-blockfrontpage-block-3 h2 {
	margin-bottom: 30px
}

section[class*=" block-views-blockfrontpage-block-"] h2 {
	color: #007CB8;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px
}

span.featured-title {
	font-size: 1.3em;
	display: block;
	margin-top: 20px
}

a {
	color: #002569;
	text-decoration: none;
}

a:hover {
	color: #007CB8;
	text-decoration: none;
}

.panel {
	border: 1px solid #ddd;
	border-radius: 0;
}

.panel-heading {
	border-top: 2px solid #666;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
}

.panel-title {
	font-size: 16px;
	padding: 10px 14px;
}

.panel-body>h4 {
	margin-top: 0
}

.list-line, .file-format ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-line  li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0 10px;
}

.list-line  li:first-child {
	padding-top: 0
}

.list-line  li:last-child {
	padding-bottom: 0;
	border-bottom: 0
}

.list-semicolon li {
	padding-right: 0
}

.list-semicolon li:after {
	content: ";"
}

.list-semicolon li:last-child:after {
	content: ""
}

.file-format {
	color: #fff;
	font-size: 80%;
	display: inline;
	margin-left: 5px;
	vertical-align: top
}

.file-format .csv {
	background-color: #dfb100;
	padding: 3px 6px
}

.file-format .pdf {
	background-color: #cb0808;
	padding: 3px 6px
}

.file-format .xml {
	background-color: #ff5100;
	padding: 3px 6px
}

.file-format .website {
	background-color: #0808ff;
	padding: 3px 6px
}

.file-format .xlsx, .file-format .xls {
	background-color: #2db55d;
	padding: 3px 6px
}

.table>tbody>tr>th {
	border-top: 0;
	border-bottom: 2px solid #ccc
}

.list-tag {
	margin-left: 5px
}

.list-tag li a {
	display: inline-block;
	padding: 2px 10px 2px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 0 5px 5px 0;
	background-color: #F3F3F3;
	margin: 3px 5px 3px 5px;
	position: relative;
	color: #333333;
	border: 1px solid #ddd;
	border-left: 0;
	z-index: 2;
}

.list-tag li a::before {
	content: "";
	width: 2px;
	height: 2px;
	background: #777777;
	position: absolute;
	top: 11px;
	left: -5px;
	border-radius: 0;
}

.list-tag li a::after {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #F3F3F3;
	transform: rotate(45deg);
	border-radius: 2px;
	position: absolute;
	top: 2px;
	left: -9px;
	z-index: -1;
	border: 1px solid #ddd;
	border-top: none;
	border-right: none;
}

.img-responsive {
	padding-bottom: 10px
}

.field--name-field-media-file a {
	display: none
}

.field--name-field-dataset-resource-notes {
	font-size: 90%;
	color: #999
}

.facet-toggle {
	font-family: "Ideal Sans A", sans-serif;
	display: block;
	color: #333;
	background-color: #eee;
	padding: 8px 10px;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none
}

.facet-toggle::after {
	font-family: "fontawesome";
	content: "\f078";
	color: #666;
	font-size: 12px;
	font-weight: bold;
	float: right;
	padding-top: 4px
}

.facet-toggle.collapsed::after {
	content: "\f054"
}

.facet-toggle:hover, .facet-toggle:focus, .facet-toggle:visited {
	text-decoration: none
}

.facets-soft-limit-link {
	display: block;
	margin: 0 10px 10px;
	text-align: right
}

.facet-item a.is-active {
	background-color: #007CB8;
	color: #fff;
	display: block;
	position: relative;
	padding-right: 20px
}

.facet-item a.is-active::after {
	content: "\f00d";
	font-family: "fontawesome";
	position: absolute;
	top: 8px;
	right: 10px
}

.facet-item a.is-active::before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 0 17px 15px;
	border-color: transparent #007CB8;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 0;
}

.is-active .facet-item__count, .facet-item__status {
	display: none
}

.item-list__links  li {
	border-bottom: 1px solid #eee
}

.item-list__links  li:last-child {
	padding-bottom: 0;
	border-bottom: 0
}

.item-list__links  li a {
	padding: 7px 10px;
	display: block
}

.block-facets {
	margin-bottom: 10px
}

.meta {
	font-size: 85%;
	color: #666
}

.clear-all {
	font-family: "Ideal Sans A", sans-serif;
}

.search-result-text {
	padding: 5px 0 10px
}

.carousel-indicators {
	bottom: 0;
	right: 0;
	padding-right: 10px;
	left: auto;
	width: auto;
}

.carousel-caption {
	right: 0;
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	background-color: #333;
	opacity: .7;
	padding-right: 100px;
	text-align: left;
}

.carousel-caption h3 {
	font-size: 14px;
	margin: 0;
}

.carousel .img-responsive {
	padding-bottom: 0
}

.ml-10 {
	margin-left: 10px
}

.ml-20 {
	margin-left: 20px
}

.ml-30 {
	margin-left: 30px
}

@media ( min-width :768px) {
	.block-views-blockfrontpage-block-1 {
		width: 50%;
		float: left;
		padding-right: 15px
	}
	.block-views-blockfrontpage-block-2 {
		width: 50%;
		float: left;
		padding-left: 15px
	}
	.block-views-blockfrontpage-block-3 {
		display: block;
		clear: both
	}
}

a.navbar-brand {
	opacity: 0;
}

.navbar {
	border: 0px;
}

.navbar-default {
	background-color: transparent;
	border: 0px;;
}

.nav-area {
	border-top: 1px solid #DDDDDD;
	border-bottom: 2px solid #03ADE0;
	height: 45px;
}

.navbar-nav>li>a {
	padding: 11px 32px 12px 20px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a.is-active {
	background-color: #02548C
}

.navbar-default .navbar-nav>li>a:hover {
	color: #03ADE0;
}

.navbar-default .navbar-nav>li>a:active {
	color: #03ADE0;
}

.navbar-default .navbar-nav>li>a {
	color: #002569;
}

div.banner-area {
	background-image: url(/sites/default/files/landing-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 311px;
	background-position: 50% 50%;
}

.home-search-box {
	background-color: rgba(255, 255, 255, 0.85);
	margin: 5% 15px;
	padding: 15px 25px;
	width: 50%;
}

.region-home-search>.block-views-exposed-filter-blocksearch-content-page-1
	{
	margin: 15px 0 15px 0;
}

.dl-field {
	margin: 0 0 20px 0;
}

ul.dataset-list {
	list-style: none;
	padding: 0;
}

li.dataset-list-item {
	display: inline-block;
	margin-right: 10px;
}

ul.related-list {
	list-style: none;
	padding: 0;
}

li.related-list-item {
	margin-bottom: 20px;
}

div.region-header {
	background-image: url(/themes/adbdatalibv2/logo-adb-data-portal.png);
	background-repeat: no-repeat;
	height: 50px;
	margin: 20px 0 20px 0;
}

.search-result-title {
	font-size: 120%;
}

div.search-header {
	margin: 20px 0 20px 0;
	vertical-align: middle;
	height: 50px;
	text-align: right;
}

h2 {
	font-size: 28px;
}

.block-facets>h2 {
	font-size: 16px;
	color: #404040;
}

h2.search-filter-title {
	font-size: 20px;
	color: #007CB8;
}

.region-content {
	margin-top: 30px;
}

.region-content h1 {
	color: #007CB8;
}

.region-sidebar-first {
	margin-top: 10px;
}

div.facets-widget-links>ul {
	list-style: none;
}

div.facets-widget-links>ul>li {
	margin-left: -20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
	color: #007CB8;
}

#views-exposed-form-search-content-site-search {
	margin: 20px 0 0;
}

div.content-type {
	font-style: italic;
	color: #404040;
}

.footer-area {
	background-color: #F2F2F2;
	border-top: 2px solid #03ADE0;
	margin: 20px 0 20px 0;
	padding: 40px 0 40px 0;
}

.footer-logo {
	width: 245px;
	height: 50px;
	margin-bottom: 14px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(/themes/adbdatalibv2/sprite-main.png);
}

.footer-copyright {
	margin: 0 10px 0 0 !important;
	text-align: right;
}

.footer-copyright a {
	display: inline-block;
	margin-left: 15px;
}

.footer-subscriber>hr {
	border: none;
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	margin: 28px 0 !important;
}

.footer-subscriber {
	text-align: center;
}

.small-print {
	font-size: 13px;
	color: #8c8c8c;
}

.footer-small-print {
	max-width: 66%;
	margin: 0 auto !important;
}

.footer-small-print {
	text-align: center;
}

.inline {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.inline>li {
	display: inline;
	margin-right: 20px;
}

.horizontal-menu>li>a {
	padding-top: 0.8em;
}

.responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after,
	.responsive-menu-toggle-icon span.icon {
	background: #03ADE0;
	height: 3px;
}

.responsive-menu-toggle {
	margin-top: 5px;
}

.mm-menu_theme-dark {
	background: #03ADE0;
}

div.banner {
	background-color: #3F90BD;
	padding: 30px 0 40px
}

.text-white {
	color: #fff
}

.text-white a {
	color: #86D0FF;
	text-decoration: underline
}

.text-big {
	font-size: 140%
}

.p-10 {
	padding: 10px
}

.p-15 {
	padding: 15px
}

.mb-5 {
	margin-bottom: 5px
}

.mb-10 {
	margin-bottom: 10px
}

.mb-15 {
	margin-bottom: 15px
}

.mb-20 {
	margin-bottom: 20px
}

.banner {
	font-size: 120%
}

.banner .btn {
	height: 34px;
	width: 100%;
	text-align: left;
	font-size: 110%;
	padding: 4px 8px;
	line-height: normal
}

.banner .dropdown-menu {
	width: 100%
}

.banner .dropdown-menu li {
	padding-left: 0;
	padding-right: 0
}

.oline {
	border-top: 2px solid #951B42;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px
}

.oline.meta {
	color: #951B42;
	text-transform: uppercase
}

.thumb {
	position: relative;
	display: block;
	overflow: hidden;
	padding-top: 100%;
	border: 1px solid #ccc
}

.thumb-centered img {
	width: auto;
	height: 100% !important;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.more::after {
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-size: 80%;
	content: "\e092";
	display: inline;
	margin-left: 8px
}

@media ( min-width :768px) {
	.banner .dropdown-menu.topics {
		min-width: 500px
	}
	.banner .dropdown-menu.countries {
		min-width: 600px
	}
}

@media ( max-width :767px) {
	.container-fluid.nav-area {
		padding-left: 0
	}
	.container-fluid.nav-area .container {
		padding-left: 0
	}
}

.btn-primary {
	background-color: #02548C
}

.dropdown-menu>li>a {
	white-space: normal;
	text-decoration: none
}

.list-divider li+li {
	border-top: 1px solid #3F90BD;
	margin-top: 15px;
	padding-top: 15px;
}

.bg-secondary {
	background-color: #D0E4EF
}

.hr-3 {
	height: 3px;
	background-color: #D0E4EF
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-inner {
	width: 86%;
	left: 7%
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-control {
	width: 3%;
	color: #ccc
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-control.left,
	.carousel-control.right {
	background-image: none
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
	font-size: 40px;
	width: 40px
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-caption {
	position: relative;
	padding-right: 0px;
	background-color: #fff;
	color: #333;
	text-shadow: none;
	padding-left: 0;
	padding-right: 0
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-caption  h3 a {
	font-size: 20px;
	display: block;
	padding-bottom: 10px
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-indicators {
	right: 50%;
	padding-right: 0;
	bottom: -20px
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-indicators  li
	{
	background-color: #666;
	border: 0
}

div[id^="views-bootstrap-frontpage-featured-"] .carousel-indicators .active
	{
	background-color: #23527c
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 20px
}

div[class^="col-"] {
	margin-bottom: 15px
}

.mm-panel, .mm-navbar {
	background-color: #337ab7
}

.mm-listitem::after {
	left: 0
}

.horizontal-menu li:last-child {
	position: absolute;
	right: 0
}

.form-item-sort-by, .form-item-sort-order {
	display: none !important
}

#block-exposedformsearch-contentsite-search-3 #views-exposed-form-search-content-site-search
	{
	margin-top: 0
}

#block-exposedformsearch-contentsite-search-3 .form-item-sort-by,
	#block-exposedformsearch-contentsite-search-3 .form-item-sort-order,
	#block-exposedformsearch-contentsite-search-3 #views-exposed-form-search-content-site-search #edit-actions
	{
	display: inline-block !important;
	width: auto;
	margin: 0 15px 15px 0
}

#views-exposed-form-search-content-site-search .btn {
	padding: 6px 10px
}

#block-exposedformsearch-contentsite-search-3 .form-type-search-api-autocomplete
	{
	margin-bottom: 15px
}