@charset "UTF-8";
.slide_doc_area {
    position : absolute;
    
    display : flex;
    flex-direction : column;
    overflow:auto;
    /*위치*/
    right: 58px;
    top : 190px;
    width : 70vw;
    margin-right : -74vw;
    z-index : 10;
    
    padding: 5px 5px 5px 0;
}

.slide_doc_layout  {
	display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid lightgrey; */
    background-color : white;
    margin : 10px;
    box-shadow: 0 3px 20px rgba(0,0,0, 0.36);
}
.doc_btn_group {
	display : flex;
	position : absolute;
    z-index : 10;
    
    top : 0;
    right : 0;
    height: 100%;
    border: none;
}
.close_button, .hide_button {
    width: 36px;
    border: none;
    background: rgba(222, 98, 97, 1);
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.close_button {
	background-image : url('../navi_map/icons/icon_exit.svg');
	background-repeat : no-repeat;
	background-position : center center;
	background-size : 16px;
}

.hide_button {
	margin : 2px;
	width : 32px;
	background : rgba(120, 120, 120, 1);
}
.hide_left {
	background-image : url('../navi_map/icons/icon_left.svg');
	background-repeat : no-repeat;
	background-position : center center;
	background-size : 16px;
}
.hide_right {
	background-image : url('../navi_map/icons/icon_right.svg');
	background-repeat : no-repeat;
	background-position : center center;
	background-size : 16px;
}


.doc_show_button {
	position: absolute;
    
    top: 15px;
    width: 30px;
    height: 60px;
    border: 1px solid grey;
    
    box-shadow: 0 1px 2px rgba(0,0,0, 0.6);
    
    display : none;
    
    color : white;
    background-color : rgba(90, 90, 90, 0.50);
}
.show_left {
	left : 0;
    margin-left : -25px;
    border-radius : 5px 0 0 5px;
}
.show_right {
	right: 0;
    margin-right: -25px;
    border-radius: 0 5px 5px 0;
}


.close_button:hover, .hide_button:hover, .doc_show_button:hover {
	background-color: rgba(215, 212, 212, 0.5);
}
.doc_button_area {
	width: 100%;
	height:40px;
	position : relative;
	background-color : rgba(88,88,88,1);
	overflow: auto;
}
.doc_controller, .dep_doc_controller {
	margin-top: 0.5rem;
	border : none;
	padding: 0 5px;
}

.doc_controller ul, .dep_doc_controller ul {
	width : 100%;
	border : none;
}
.doc_controller ul li, .dep_doc_controller ul li {
	margin-left : 0px;
	margin-bottom : 0px;
}

.doc_controller ul li a, .dep_doc_controller ul li a {
	padding : 0.6rem 3rem;
	/*
	border : 1px solid rgba(106,106,106,1);
	*/
	border : none !important;
	border-radius : 2px 2px 0 0;
	color : white;
	background-color : rgba(120,120,120,1);
}
.doc_controller ul li a:hover, .dep_doc_controller ul li a:hover {
	cursor : pointer;
	/*
	background-color : rgba(211, 211, 211, 0.38) !important;
	*/
	background-color : lightgrey !important;
	border : none !important;
}

.doc_controller ul .meta_csv_download, .dep_doc_controller ul .meta_csv_download {
	margin: 0.3rem;
	padding : 0 0.5rem;
	
	color : white;
	box-shadow : 0 3px 5px rgba(0,0,0, 0.6);
}

.doc_controller ul .meta_csv_download a, .dep_doc_controller ul .meta_csv_download a {
	padding : 0.2rem;
	margin : 0;
	background: none;
   	border: none;
   	
   	color : white;
   	display : inline-block;
}

#_doc_area, #_dep_doc_area {
    width : 100%;
   	height : 100%;
   	
   	position : relative;
    overflow : hidden;
}

#_iframe_meta_controller, #_iframe_dataset_controller {
	width: 100%;
   	height: 5%;
   	position: relative;
}

.html_controller_inner {
    width : 100%;
    padding : 0.5rem 20px 0 8px;
}
.controller_state, .controller_btn {
	width : fit-content;
	display : inline-block;
}
.controller_btn {
	text-align : right;
	float : right;
}
.doc_title{
	color:white;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 28px;
	font-size: 24px;
}
.doc_sub_title{
	jusitify-content:left;
	color:#3d33d6;
	font-size: 18px;
	font-weight: 500;
	padding: 5px 0px 5px 15px;
}
