<div class="row">
	<div class="col-6">
		<div class="tit_cont">면적(Km2)</div>
		<div class="form-group">
			<input type="text" name="m_undefined_1" id="m_undefined_1"
				value="undefined" class="form-control mh-form-control">
		</div>
	</div>
	<div class="col-6">
		<div class="tit_cont">인구(천명)</div>
		<div class="form-group">
			<input type="text" name="m_undefined_2" id="m_undefined_2"
				value="undefined" class="form-control mh-form-control">
		</div>
	</div>
</div>
