<table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:880px;width:100%;font-family: Arial;background-color:#f4f4f4;-webkit-text-size-adjust:100%;text-align:left">
	<tbody>
		<tr>
			<td align="center">
			<!-- 아웃룩용 max-width 핵 --> 					
			<!--[if (gte mso 9)|(IE)]>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr><td width="880">
			<![endif]-->
			<div style="max-width:880px; margin:0 auto">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:880px;width:100%;font-family: Arial;background-color:#f4f4f4;-webkit-text-size-adjust:100%;text-align:left">
					<tbody>
						<tr>
							<td height="30"></td>
						</tr>
						<tr>
							<td style="height:111px; ">
								<img src="cid:image" alt="NPPA CRS National Public Prosecution Authority Criminal Record System"	style="display:block; width:248px;height:111px;margin:0 auto;border:none;padding:0;"><!-- 주소절대값변경후 메일발송하세용. -->
							</td>
						</tr>
						<tr>
							<td height="17"></td>
						</tr>
						<tr>
							<td>
								<img src="cid:mailPattern" alt="" style="display:block; width:760px;height:16px;border:none; margin:0 auto; padding:0;"><!-- 주소절대값변경후 메일발송하세용. -->
								<div style="width:760px; margin:0 auto; overflow:hidden; padding:0; border:1px solid #dfdfdf; border-top:none; background:#fff;">
									<table align="left" border="0" cellpadding="0" cellspacing="0"
										style="max-width:640px;width:100%;font-family: Arial;background-color:#fff;-webkit-text-size-adjust:100%;text-align:left; margin:0 auto;">
										<tbody>
											<tr>
												<td height="58"></td>
											</tr>
											<tr>
												<td height="26">
													<p	style="height: 31px; font-family: Arial;font-size: 28px;font-weight: bold;font-style: normal;line-height: 1.14;text-align: left;color: #000000; margin:0;padding:0 60px;">mailTitle</p>
												</td>
											</tr>
											<tr>
												<td height="26"></td>
											</tr>
											<tr>
												<td height="1">
													<div style="background:#000; width:100%; margin:0 60px; height:1px;"></div>
												</td>
											</tr>
											<tr>
												<td height="29"></td>
											</tr>
											<tr>
												<td>
													<p style="font-size:14px; color:#000; margin:0; line-height: 1.43;padding-bottom: 32px; padding:0 60px;">mailRow1</p>
													<p style="font-size:14px; color:#000; margin:0; line-height: 1.43;padding-bottom: 32px;padding:0 60px;">mailRow2</p>
												</td>
											</tr>
											<tr>
												<td height="45"></td>
											</tr>
											<tr>
												<td height="6"></td>
											</tr>
											<tr>
												<td>
													<p style="font-size: 12px;font-weight: normal;line-height: 1.17;color: #464646; margin:0; padding:0 60px;text-align:center;">TimeOfIssue</p>
												</td>
											</tr>
											<tr>
												<td height="60"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						<tr>
							<td height="10"></td>
						</tr>
						<tr>
							<td style="line-height:32px;font-family: Arial;">
								<p style="font-size: 12px;font-weight: normal;line-height: 1.17;color: #585858; margin:0; padding:0 60px 5px 60px;text-align:center;">This message is for sending only and cannot be answered.</p>
							</td>
						</tr>
						<tr>
							<td style="line-height:32px;font-family: Arial;">
								<p style="font-size: 12px;font-weight: normal;line-height: 1.17;color: #585858; margin:0; padding:0 60px 18px 60px;text-align:center;">Contact email address : 
									<a href="mailto:help@nppa.gov.rw"  rel="noopener noreferrer" data-auth="NotApplicable" style="color:#43a1ff;"><span style="font-style:normal; color:#43a1ff;font-family: Arial;">help@nppa.gov.rw</span>
								</a>
								</p>
							</td>
						</tr>
						<tr>
							<td style="line-height:32px;font-family: Arial;">
								<p style="font-size: 12px;font-weight: normal;line-height: 1.17;color: #585858; margin:0; padding:0 60px 76px 60px;text-align:center;">© 2019 NPPA All Rights Reserved. Privacy and Terms</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--[if mso]>
			</td></tr>
			</table>
			<![endif]-->
			</td>
		</tr>
	</tbody>
</table>




