<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd">

	<tlib-version>1.0</tlib-version>
	<short-name>utility</short-name> 
	
 
	<tag>
		<name>MenuTag</name>
		<tag-class>kr.co.daily.common.taglib.MenuTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>listName</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>user_seq</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>  
	<tag>
		<name>NaviTag</name>
		<tag-class>kr.co.daily.common.taglib.NaviTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>listName</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>id_menu</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>  
		<tag>
		<name>CodeInfo</name>
		<tag-class>kr.co.daily.common.taglib.CodeInfo</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>voName</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>label</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>code_group</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>code</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>  
	<tag>
		<name>DynamicRegTrTag</name>
		<tag-class>kr.co.daily.common.taglib.DynamicRegTrTag</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>paramRowNum</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>paramColNum</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>row</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.util.Map</type>
		</attribute>
		<attribute>
			<name>col</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.util.Map</type>
		</attribute>
		<attribute>
			<name>childList</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.util.List</type>
		</attribute>
		<attribute>
			<name>currRowNum</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>currColNum</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>  
	
</taglib>
