<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
      "http://java.sun.com/j2ee/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.1</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>pageList</short-name>
	<description>page list tag</description>
	<tag>
		<name>page</name>
		<tag-class>daily.taglib.PagingTag</tag-class>
		<body-content>EMPTY</body-content>
		<description>
			페이지 보여주는 태그
		</description>
		<attribute>
			<name>pageLinkUrl</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>method</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<type>boolean</type>
		</attribute>
		<attribute>
			<name>paginator</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>com.github.miemiedev.mybatis.paginator.domain.Paginator</type>
		</attribute>
	</tag>
	<tag>
		<name>ajax_page</name>
		<tag-class>daily.taglib.AjaxPagingTag</tag-class>
		<body-content>EMPTY</body-content>
		<description>
			페이지 보여주는 태그
		</description>
		<attribute>
			<name>pageLinkUrl</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
		</attribute>
		<attribute>
			<name>method</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<type>boolean</type>
		</attribute>
		<attribute>
			<name>paginator</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>com.github.miemiedev.mybatis.paginator.domain.Paginator</type>
		</attribute>
	</tag>

</taglib>
